# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/FifteenPuzzle/bin/Debug
/FifteenPuzzle/obj
/FifteenPuzzle/Properties
/.gitattributes
/FifteenPuzzle/puzzle.txt
/FifteenPuzzle/4x4_01_0001_bfs_rdul_stats.txt
/FifteenPuzzle/4x4_01_0001_bfs_rdul_sol.txt
